.main-navbar{
    padding: 1rem 2rem;
}
nav{
    background-color: #E4FDE1;
    /* color: black; */
}
nav .navbar-brand{
    color: black;
}
nav ul li a{
    color: black;
}
nav form button{
    background-color: white;
    color: green;
}
nav form button:hover{
    background-color: #114B5F;
    color: white;
}