<div class="container mb-5">
    <!-- product 1 electronics -->
    <div class="row">
      <h1 class="display-4 fw-bold my-4">{{product1.category}}</h1>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="product1.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product1.name}}</h5>
            <p class="card-text">{{product1.description}}</p>
            <p class="card-text fw-bold">Rs. {{product1.price}}</p>
            <p><span class="badge text-bg-info">{{product1.category}}</span></p>
            <a href="#" class="btn btn-primary">Buy?</a>
          </div>
        </div>    
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="product1.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product1.name}}</h5>
            <p class="card-text">{{product1.description}}</p>
            <p class="card-text fw-bold">Rs. {{product1.price}}</p>
            <p><span class="badge text-bg-info">{{product1.category}}</span></p>
            <a href="#" class="btn btn-primary">Buy?</a>
          </div>
        </div>    
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="product1.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product1.name}}</h5>
            <p class="card-text">{{product1.description}}</p>
            <p class="card-text fw-bold">Rs. {{product1.price}}</p>
            <p><span class="badge text-bg-info">{{product1.category}}</span></p>
            <a href="#" class="btn btn-primary">Buy?</a>
          </div>
        </div>    
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="product1.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product1.name}}</h5>
            <p class="card-text">{{product1.description}}</p>
            <p class="card-text fw-bold">Rs. {{product1.price}}</p>
            <p><span class="badge text-bg-info">{{product1.category}}</span></p>
            <a href="#" class="btn btn-primary">Buy?</a>
          </div>
        </div>    
      </div>
    </div>
    <!-- product 2 tshirt -->
    <div class="row">
      <h1 class="display-4 fw-bold my-4">{{product2.category}}</h1>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="product2.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product2.name}}</h5>
            <p class="card-text">{{product2.description}}</p>
            <p class="card-text fw-bold">Rs. {{product2.price}}</p>
            <p><span class="badge text-bg-info">{{product2.category}}</span></p>
            <a href="#" class="btn btn-primary">Buy?</a>
          </div>
        </div>    
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="product2.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product2.name}}</h5>
            <p class="card-text">{{product2.description}}</p>
            <p class="card-text fw-bold">Rs. {{product2.price}}</p>
            <p><span class="badge text-bg-info">{{product2.category}}</span></p>
            <a href="#" class="btn btn-primary">Buy?</a>
          </div>
        </div>    
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="product2.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product2.name}}</h5>
            <p class="card-text">{{product2.description}}</p>
            <p class="card-text fw-bold">Rs. {{product2.price}}</p>
            <p><span class="badge text-bg-info">{{product2.category}}</span></p>
            <a href="#" class="btn btn-primary">Buy?</a>
          </div>
        </div>    
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="product2.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product2.name}}</h5>
            <p class="card-text">{{product2.description}}</p>
            <p class="card-text fw-bold">Rs. {{product2.price}}</p>
            <p><span class="badge text-bg-info">{{product2.category}}</span></p>
            <a href="#" class="btn btn-primary">Buy?</a>
          </div>
        </div>    
      </div>
    </div>    
  </div>